.mobile-main-nav-padding
  .row.top
    .eight.columns
      a(href='http://zurb.com')
        h4
          img(src='http://zurb.com/assets/logo/zurb-logo-drop-down.png')
          | Design Great Products Faster
    .four.columns
      .right.links
        a(href='http://zurb.com/about') About
        | |
        a(href='http://zurb.com/blog') ZURBlog 
        | |
        a(href='http://www.zurb.com/sitemap') Sitemap
  .row
    .tablet-padding
      #services.three.columns.property
        a(href='http://zurb.com/services')
          h4 Services
          p
            | We'll help you get online products designed better and faster than ever before and set you up for future iterations.
          span Let's Work Together →
      .show-on-phones
        br
        br
      #foundation.three.columns.property
        a(href='http://foundation.zurb.com')
          h4 Foundation
          p
            | We developed the most advanced responsive front-end framework in the world and made it free-for-all.
          span Discover Foundation →
      .show-on-phones
        br
        br
      #apps.three.columns.property
        a(href='http://zurb.com/apps')
          h4
            | ZURB
            span.apps apps
          p
            | A powerful design suite that will help you prototype, iterate and collect feedback on your product design.
          span Get Started →
      .show-on-phones
        br
        br
      #expo.three.columns.property
        a(href='http://zurb.com/expo')
          h4 Expo
          p
            | We think anyone can design great products. We'll share our ideas, thoughts and design resources to show you how to do it.
          span Learn More →
          