section.top-bar-section
  ul.left
    li.divider
    li.active(ng-class="getClass('/todo')")
      a(ng-href='#/todo') todo
    li.divider
    li.active(ng-class="getClass('/view1')")
      a(ng-href='#/view1') view1
    li.divider
    li.active(ng-class="getClass('/view2')")
    li(ng-class="getClass('/view2')")
      a(ng-href='#/view2') view2
