div(ng-app='ng-app')
  h2 Todo
  div(ng-controller='TodoCtrl')
    .alert-box
      span {{remaining()}} of {{todos.length}} remaining
      |  [
      a(href='', ng-click='archive()', style='color:#ff0') archive
      | ]
    .row
      .small-9.large-4.columns
        div(ng-repeat='todo in todos')
          label(for='checkbox')
            input(type='checkbox', id='checkbox', ng-model='todo.done')
            span.custom.checkbox {{todo.text}}
    form(class='form-inline', ng-submit='addTodo()')
      .row
        .large-6.columns
          .small-9.columns
            input(type='text', ng-model='todoText', size='30', placeholder='add new todo here')
          .small-3.columns
            input.button.prefix(type='submit', value='add')
